@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
    * {
        @apply font-["Lexend"]
    }
    ::selection {
        @apply text-white bg-yellow
    }


    .btn {
        @apply outline-none relative shadow-lg font-semibold text-xl text-center
                text-dark hover:text-yellow focus:text-yellow disabled:text-white bg-yellow hover:bg-dark focus:bg-dark disabled:bg-dark
                border-[3px] border-yellow disabled:border-white grid place-items-center rounded-lg h-16 transition-all duration-300
    }
    .a-btn {
        @apply font-semibold text-yellow hover:text-white focus:text-white focus:outline-none cursor-pointer transition-colors duration-150
    }

    .noselect, img, button, a {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
