@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
    * {
        @apply font-['Poppins']
    }
    ::selection {
        @apply text-white bg-yellow
    }


    .btn {
        @apply outline-none relative shadow-lg font-semibold text-lg text-center text-dark hover:text-yellow bg-yellow hover:bg-dark
                border-[3px] border-yellow rounded-lg px-4 py-2.5 sm:py-3 transition-all duration-300
    }

    .noselect, img, button, a {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
